[user]
	name = OscarGomez-jpg
	email = os.gomez.lozano@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = false
[url "git@github.com:"]
	insteadOf = https://github.com/
[core]
	autocrlf = input
[http]
	verbose = true
	sslVerify = true
[credential]
	helper = cache --timeout=1
[safe]
	directory = /home/osgomez/Code/icesi_codes/8vo_semestre/distribuidos/datasetExploration
	directory = /home/osgomez/Code/icesi_codes/8vo_semestre/distribuidos/datasetExploration
	directory = /home/osgomez/Code/icesi_codes/9no_semestre/pdg-shock
